{% extends "tasks/base.html" %}
{% block title %}
<title>Stat In hand</title>
{% endblock %}

{% block header %}
<h1>Your tasks in hand</h1>
{% endblock %}
{% block context %}
<div>
    <p> Filter:
        <a href="{% url 'tasks:tasks' %}">All</a>
        <a href="{% url 'tasks:stat_new' %}">New</a>
        <a href="{% url 'tasks:stat_planned' %}">Planned</a>
        <a href="{% url 'tasks:stat_in_hand' %}">In hand</a>
        <a href="{% url 'tasks:stat_completed' %}">Completed</a>
        <a href="{% url 'tasks:time_filter' %}">Time filter</a>
    </p>
</div>
<div class="taskContainer">
    <ul>
    {% for task in tasks %}
        {% if task.stat == "In hand" %}
            <div class="Box In hand">
                <p>{{ task.name }}</p> Time: {{ task.date_added }}
                <p>Status: {{ task.stat }}</p>
                <p>Description: {{ task.text }}</p>
                <p>Planned finish time: {{ task.date_planned }}</p>
                <p>
                    <a href="{% url 'tasks:edit_task' task.id %}">edit task</a>
                </p>
                <p>
                    <a href="{% url 'tasks:delete_task' task.id %}">Delete task</a>
                </p>
            </div>
        {% endif %}
    {% empty %}
    <li>No tasks have been added yet.</li>
    {% endfor %}
    </ul>
</div>
<a href="{% url 'tasks:new_task' %}">Add a new task:</a>
{% endblock %}