{% extends "tasks/base.html" %}
{% block title %}
    <title>Tasks</title>
{% endblock %}

{% block header %}
    <h1>Your tasks</h1>
{% endblock %}
{% block context %}
    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'tasks:task' task.id %}">{{ task.name }}</a> Time: {{ task.date_added }}
                <p>Status: {{ task.stat }}</p>
                <p>Description: {{ task.text }}</p>
                <p>
                    <a href="{% url 'tasks:edit_task' task.id %}">edit task</a>
                </p>
            </li>
        {% empty %}
            <li>No tasks have been added yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'tasks:new_task' %}">Add a new task:</a>
{% endblock %}